.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

#cameraTakePicture {
  margin: 20px auto;
  padding: 20px;
}

#pictureProcess {
  margin: 20px auto;
  padding: 20px;
}
